.eucap-banner-box {
    margin: 2.5em;
}

.eucap-banners {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.eucap-banner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.eucap-banner-box div {
    padding: 5px 0;
}