.button-danger {
    color: #b12229 !important;
    border-color: #b12229 !important;
    background: #f6f7f7 !important;
}

.eucap-button-success {
    background-color: #639c1e !important;
    border-color: #639c1e !important;
    color: white !important;
}


.eucap-banner-wrapper {
    margin: 2.5em;
}

.eucap-banners {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #BBB;
}

.eucap-banner-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 20px;
    margin: 10px;
    border: 1px dotted #BBB;
}


.eucap-banner-box div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.eucap-banner-box div {
    padding: 5px 0;
}

#messageBanner {
    padding: 20px;
    margin-top: 30px;
    display: none;
}

.log-container {
    display: flex;
    flex-direction: column;
}

.log-content {
    margin: 0;
    padding: 2rem;
    background-color: white;
    border: 1px solid #DCDCDE;
}

.log-select-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0.5em 2rem;
    align-items: center;
}

.log-select-wrapper select {
    min-width: 250px;
}

.log-select-wrapper label {
    font-weight: 600;
    padding-right: 1rem;
}